{% extends "base.html" %}
{% block content %}

<h3 class="orange-text text-darken-4 center-align">Items</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_item') }}" class="btn-large orange darken-2">
            Add Item <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for item in items|sort(attribute="sale_date") %}
    <li>
        <div class="collapsible-header white-text orange darken-2">
            <i class="fas fa-caret-down"></i>
            <strong>{{ item.item_name }}</strong> : {{ item.sale_date.strftime("%d %B, %Y") }}
            {% if item.is_crossposted == True %}
                <i class="fas fa-exclamation-circle orange-text text-lighten-2"></i>
            {% endif %}
        </div>
        <div class="collapsible-body">
            <strong>{{ item.category }}</strong>
            <p>{{ item.item_description }}</p>
            <p>
                <a href="{{ url_for('edit_item', item_id=item.id) }}" class="btn green accent-4">Edit</a>
                <a href="{{ url_for('delete_item', item_id=item.id) }}" class="btn red">Delete</a>
            </p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}